.isorinis-flexas {
    height: 120px;
    width: 100;
    margin: 5px 25px 6px 8px;
    padding: 3px;
    border: 1px solid gray;
}

.langeliai  {
    display: flex;
    flex-direction: row;
    height: 22px;
    width: 9%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.pilki-langeliai {
    background-color: rgb(63, 62, 62);
}

.zali-langeliai {
    background-color: rgb(68, 142, 68);
}

.balti-langeliai {
    background-color: white;
}

.tekstas {
    text-align: center;
    text-size-adjust: 7.33px;
}