.isorinis-flexas {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100;
    margin: 5px 25px 6px 8px;
    padding: 3px;
    border: 1px solid gray;
}

.langeliai  {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.pilki-langeliai {
    display: flex;
    flex-direction: row;
    background-color: rgb(63, 62, 62);
}

.zali-langeliai {
    display: flex;
    flex-direction: row;
    background-color: rgb(68, 142, 68);
}

.balti-langeliai {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.tekstas {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-size-adjust: 100px;
}

.langeliu-isdestymas {
    display: flex;
}